.phanta_aj {
    left: 0px;
}

.phanta_ai {
    top: 0px;
}

.phanta_ah {
    bottom: 0px;
}

.phanta_ag {
    right: 0px;
}

.phanta_af {
    overflow: auto;
}

.phanta_ae {
    position: fixed;
}

.phanta_bh {
    opacity: 1;
}

.phanta_aq {
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}

.phanta_ap {
    transition-duration: 400ms;
}

.phanta_ao {
    transition-property: opacity;
}

.phanta_am {
    touch-action: none;
}

.phanta_al {
    -webkit-tap-highlight-color: transparent;
}

.phanta_ak {
    background-color: rgba(0, 0, 0, 0.5);
}

.phanta_aj {
    left: 0px;
}

.phanta_ai {
    top: 0px;
}

.phanta_ah {
    bottom: 0px;
}

.phanta_ag {
    right: 0px;
}

.phanta_ae {
    position: fixed;
}

.phanta_bi {
    transform: translateX(0px);
}

.phanta_bh {
    opacity: 1;
}

.phanta_b3 {
    display: flex;
}

.phanta_b2 {
    transition-property: opacity, transform;
}

.phanta_b1 {
    height: 100%;
}

.phanta_b0 {
    width: auto;
}

.phanta_az {
    max-height: 100%;
}

.phanta_ay {
    max-width: 100%;
}

.phanta_av {
    border-bottom-left-radius: 0px;
}

.phanta_au {
    border-bottom-right-radius: 0px;
}

.phanta_at {
    border-top-right-radius: 0px;
}

.phanta_as {
    border-top-left-radius: 0px;
}

.phanta_ar {
    background-color: rgb(255, 255, 255);
}

.phanta_aq {
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}

.phanta_ap {
    transition-duration: 400ms;
}

.phanta_aj {
    left: 0px;
}

.phanta_ai {
    top: 0px;
}

.phanta_ae {
    position: fixed;
}

.phanta_b4 {
    font-family: "IBM Plex Mono";
}

.phanta_af {
    overflow: auto;
}

.phanta_b8 {
    color: rgb(24, 45, 239);
}



.phanta_b6 {
    font-weight: normal;
}

.phanta_b5 {
    font-size: 14px;
}







